body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.67;
	margin: 25px;
	word-break: break-all;
}
a {
	color: blue;
	cursor: pointer;
	text-decoration: none;
	transition: opacity .25s;
}
a:active {
	opacity: .5;
}
h1 {
	font-size: 25px;
	line-height: 1.4;
}
input {
	background-color: inherit;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.2);
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	text-align: center;
}
input:focus {
	border-color: inherit;
}
ul {
	padding-inline-start: 0;
	text-align: center;
}
.periodic-table {
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 10px;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	overflow: hidden;
	padding: 10px 15px;
	text-align: left;
	transition: all .25s;
	width: 180px;
}
.periodic-table:hover {
	background-color: rgba(0,0,0,.05);
}
.periodic-table:active {
	background-color: rgba(0,0,0,.1);
}
.periodic-table.highlight {
	color: red;
}
@media (prefers-color-scheme: dark) {
	a {
		color: rgb(86,156,214);
	}
	body {
		background-color: rgb(30,30,30);
		color: rgba(255,255,255,.8);
	}
	input {
		border-color: rgba(255,255,255,.2);
		color: rgba(255,255,255,.8);
	}
	.periodic-table {
		border-color: rgba(255,255,255,.2);
	}
	.periodic-table:hover {
		background-color: rgba(255,255,255,.05);
	}
	.periodic-table:active {
		background-color: rgba(255,255,255,.1);
	}
	::-webkit-scrollbar {
		width: 6px;
	}
	::-webkit-scrollbar-thumb {
		background-color: rgba(255,255,255,.25);
	}
}
